li{
    padding: 5px 0px;
}
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
@media (max-width: 800px) {
    .tabs button {
        display: flex;
        flex-direction: column;
        float: none;
    }
}
.tabs button:hover {
    background-color: #ddd;
}
.tabs button.active {
    background-color: #ccc; 
}
.tabcontent {
    display: none;
    padding: 20px 15px;
    border: 1px solid #ccc;
    border-top: none;
}
.header{
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-top: 20px;
    display: flex;
    justify-content: left;
}
.bg-darker{
    background-image: url(bg-darker.png);
    background-repeat: repeat;
    background-size: 10%;
}
.bg-lighter{
    background-image: url(bg-lighter.png);
    background-repeat: repeat;
    background-size: 10%;
}
.thumbnail {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px; 
    text-align: center;
}
.thumbnail iframe {
    width: 100%;
    height: 100%;
    min-height: 600px;
    pointer-events: none;
}
.padded{
    padding: 20px 0px;
}
.name{
    margin-top: 50px;
    margin-left: 30px;
}
@media (max-width: 800px){
    .name{
        margin-top: 30px;
    }
}
.profile-pic{
    height: 150px;
    width: auto;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.icon{
    height: 100%;
    max-height: 100px;
    width: auto;
}
@media (max-width: 800px){
    .icon{
        max-height: 50px;
    }
}
.no-list{
    list-style-type: none;
}
.really-good {
    height: 100%;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
.really-good h1{
    font-weight: bold;
}
.horse{
    width: 100%;
    max-width: 600px;
}
.rainbow-text {
    animation: rainbowText 3s infinite;
}
@keyframes rainbowText {
    0% {
        color: violet;
    }
    14% {
        color: indigo;
    }
    28% {
        color: blue;
    }
    42% {
        color: green;
    }
    56% {
        color: yellow;
    }
    70% {
        color: orange;
    }
    84% {
        color: red;
    }
    100% {
        color: violet;
    }
}